
body{
    font-weight: bolder;
    font-family: system-ui;
    background: linear-gradient(-225deg, #0054f0 0%, #d9ff00 56%, #ff0022 100%);
    
}


h1 {
    color:yellow; 
}

h2{
    color:aqua;  
    
}

h6{
    color: red;
}